@media screen and (max-width: 1190px) {
  .logo {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .hero-text {
    max-width: 300px;
  }
.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
  .hero-img img {
   /* background-color: red; */
width: 90%;
   
  }
  .features-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);

    max-width: 500px;
    margin: 0 auto;

    justify-items: center;
  }

  .feature-box {
    margin: 10px;
  }

  .gallery-grid {
    grid-template-columns: repeat(1, 300px);
  }

  .comparison table {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .navbar{
    background-color: red;
  }
  header {
    width: 100vw;
  }
  .navbar {
    width: 100%;
  }

  .logo {
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-links {
    gap: 5px;
  }

  .comparison table{
    width: 250px;
  }
  .comparison th,
.comparison td {
  padding: 5px 10px;

}
}
